# Ignore node_modules
node_modules

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore build directories
dist
build
.next
coverage

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore .git
.gitignore
.git

# Ignore README
README.md